<% provide(:title, 'Security Key Derive') %>
<h1><%= yield(:title) %></h1>

<%= form_for(@key) do |f| %>

    <div class="form-group">
      <label for="security_key_enb_key">Enb Key / NH:</label>
      <%= f.text_field :enb_key, class:"form-control"%>
      <small id="security_key_enb_key_help" class="form-text text-muted">Only support the hex, separated by a comma</small>
    </div>

    <label for="security_key_to_pci">Target Pci:</label>
    <%= f.text_field :to_pci, class:"form-control"%>

    <label for="security_key_dl_arfcn">DL-ARFCN:</label>
    <%= f.text_field :dl_arfcn, class:"form-control"%>

    <div class="form-group">
      <label for="security_key_enc_algo">Selected Encryption Algorithm:</label>
      <%= f.text_field :enc_algo, class:"form-control"%>
      <small id="security_key_enc_algo_help" class="form-text text-muted">One of the 0..3</small>
    </div>

    <div class="form-group">
      <label for="security_key_int_algo">Selected Integrity Algorithm:</label>
      <%= f.text_field :int_algo, class:"form-control"%>
      <small id="security_key_enc_algo_help" class="form-text text-muted">One of the 0..3</small>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Derive</button>
    </div>

    <% if @key.valid? and !@key.init? %>

        <label for="security_key_new_enb_key">New Enb Key:</label>
        <%= f.text_field :new_enb_key, class:"form-control"%>

        <label for="security_key_rrc_enc">Rrc Encryption Key:</label>
        <%= f.text_field :rrc_enc, class:"form-control"%>

        <label for="security_key_rrc_int">Rrc Integrity Key:</label>
        <%= f.text_field :rrc_int, class:"form-control"%>

        <label for="security_key_up_enc">Up Encryption Key:</label>
        <%= f.text_field :up_enc, class:"form-control"%>
    <% end %>

<% end %>