<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "SPS-5", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "SecurityKey", key_derive_path %></li>
          <li><%= link_to "ShortMAC-I", "#" %></li>
          <li><%= link_to "ErrorCode", "#" %></li>
          <li><%= link_to "Ecc", "#" %></li>
        </ul>
        <ul class="nav pull-right">
          <li><%= link_to "BETA 1.0", "#" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>